/// App View ///
body {
  margin: 0px;
  padding: 0px;
}
html, body {
  height: 100%;
  #root {
    height: 100%;
    .AppView {
      flex-flow: column;
      height: 100%;
      // background-color: bisque;
    }
  }
}
