/// Dataset View ///

.DatasetView {
  // border: 1px solid orchid;
  // background-color: aliceblue;
  flex: 1 1 100%;
  display: flex;

  // just playing with the opacity and intersection observer
  .itemHidden {
    opacity: 0;
    transition: opacity 2s;
  }
  .itemShown {
    opacity: 1;
    transition: opacity 2s;
  }
}



