/// Main ///
@use './AppView/AppView.scss';
@use './LayoutView/LayoutView.scss';
@use './MapView/MapView.scss';
@use './WaterColumnView/WaterColumnView.scss';
@use './DatasetView/DatasetView.scss';
@use './GraphView/GraphView.scss';
@use './ErrorView/ErrorView.scss';

.MainView {
    // border: 2px solid red;
    flex: 0 0 100%;
    display: flex;
}