body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFDEE9;
  background-image: linear-gradient(270deg, #FFDEE9 0%, #B5FFFC 100%);
  // Cool patterns: https://www.gradientmagic.com/collection/lightbg
  height: 100vh;
  width: 100vw;
  border: 1px solid orange;
}

.map-wrap {
  width: 100vw;
  height: 97vh;
}
.map {
  width: 100%;
  height: 100%;
}


.water-column-main {
  height: 100%;

  .MapView {
    .map { border: 1px solid red; }

    font-size: 16px;

    .bottom-left { position: relative; }
    .cruise-display {
      position: absolute;
      bottom: 0;
      left: 25px;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.25);
      color: white;
      font-family: "Courier New", Courier, monospace;
      font-weight: 700;
    }

    .bottom-right { position: relative; }
    .coordinate-display {
      position: absolute;
      bottom: 0px;
      right: 25px;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.25);
      color: white;
      font-family: "Courier New", Courier, monospace;
      font-weight: 700;
    }

    .maplibregl-ctrl-bottom-right {
      display: none;
    }
  }
}



// .HomeView {
//   .container {
//     // border: 2px solid blue;

//     .col {
//       border: 2px solid green;
//     }
//   }
// }