/////////////////////////////////////////////////////////////////////
html, body, #root, .AppView, .LayoutView {
  margin: 0px;
  padding: 0px;
  border: 0px;

  min-height: 100vh !important;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(270deg, #ffdee9 0%, #b5fffc 100%);
  // patterns: https://www.gradientmagic.com/collection/lightbg

  // .Main {
  //   border: 1px solid orange;
  //   min-height: 100% !important;
  // }
  // .WaterColumnMain {
  //   border: 1px solid black;
  //   min-height: 100%;
  //   // min-height: 100% !important;
  // }
}

/////////////////////////////////////////////////////////////////////
.LayoutView {
  display: flex;
  flex-direction: column;
}

/////////////////////////////////////////////////////////////////////
.Main {
  flex: 1;
  display: flex;
  flex-direction: column;

  ///////////////////////////////////////////////////////////////////
  .MapView {
    flex: 1;
    display: flex;
    flex-direction: column;

    /////////////////////////////////////////////////////////////////
    .Map { // for the main view on the home page
      flex: 1;
    }

    /////////////////////////////////////////////////////////////////
    .bottom-left {
      position: relative;
    }

    .cruise-display {
      position: absolute;
      bottom: 0;
      left: 25px;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.75);
      color: white;
      font-family: "Courier New", Courier, monospace;
      font-weight: 700;
    }

    .bottom-right {
      position: relative;
    }

    .coordinate-display {
      position: absolute;
      bottom: 0px;
      right: 25px;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.75);
      color: white;
      font-family: "Courier New", Courier, monospace;
      font-weight: 700;
    }

    /////////////////////////////////////////////////////////////////
    .maplibregl-ctrl-bottom-right { display: none; }
  }


  ///////////////////////////////////////////////////////////////////
  .WaterColumnView {
    flex: 1;
    display: flex;
    flex-direction: column;


    .legend {
      position: absolute;
      top: 75px;
      left: 15px;
    }

    background: repeating-linear-gradient(
      45deg,
      #a9adca,
      #a8add0 10px,
      #8993cc 10px,
      #818ccf 20px
    );

    /////////////////////////////////////////////////////////////////
    .WaterColumnVisualization {
      flex: 1;
      display: flex;
      flex-direction: column;


      .Map { // For the Main Map View on home page
        flex: 1;
      }
  
      .bottom-left {
        position: relative;
      }
  
      .left-display {
        position: absolute;
        bottom: 0;
        left: 25px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.25);
        color: white;
        font-family: "Courier New", Courier, monospace;
        font-weight: 700;
      }
  
      .bottom-right {
        position: relative;
      }
  
      .right-display {
        display: none;
        position: absolute;
        bottom: 0px;
        right: 25px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.25);
        color: white;
        font-family: "Courier New", Courier, monospace;
        font-weight: 700;
      }
  
      .leaflet-control-attribution { display: none; }
    }
  }
}

/////////////////////////////////////////////////////////////////////
// .offcanvas{
//   width: 25% !important;
// }

.MiniMapView { // Mini map viewer embedded in the water-column view
  width: 100%;
  height: 200px;

  .Map {
    width: 100%;
    height: 200px;
    .maplibregl-control-container { display: none; }
  }
}


// @import url('https://fonts.googleapis.com/css2?family=League+Script&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Satisfy&display=swap');
.softwareName {
  // font-family: "League Script", cursive;
  // font-weight: 700;
  // font-style: normal;
  font-size: 1.5em;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

// draw box around the colormap
#colorMap {
  //border: 1px solid whitesmoke;
  text-align: center;
}
// #colorPaletteValue {
//   text-align: center;
// }

// .SvPlotView {
//   height: 250px;
// }

.leaflet-container {
  cursor: crosshair;
}
// .leaflet-control-layers {
//   display: none;
// }