/// Map View ///

.MapView {
  flex: 1;
  display: flex;
  position: relative;

  .legend {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .clikedPoint {
    position: absolute;
    top: 25px;
    left: 15px;
  }

  /////////////////////////////////////////////////////////////////
  .bottom-left {
    position: relative;
  }

  // .cruise-display {
  //   position: absolute;
  //   bottom: 0;
  //   left: 25px;
  //   padding: 5px;
  //   background-color: rgba(0, 0, 0, 0.75);
  //   color: white;
  //   font-family: "Courier New", Courier, monospace;
  //   font-weight: 700;
  // }

  .bottom-right {
    border: 1px solid greenyellow;
    position: relative;
  }

  .coordinateDisplay {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: rgba(256, 256, 256, 0.75);
    
    // font-weight: 700;
    p {
      margin: 2px 10px 2px 10px;
      color: rgb(33, 37, 41);
      font-family: "Courier New", Courier, monospace;
      font-weight: 550;
    }
  }

  /////////////////////////////////////////////////////////////////
  .maplibregl-ctrl-bottom-right > .maplibregl-ctrl-attrib { display: none; }
  /////////////////////////////////////////////////////////////////
}