/// Map View ///

.MapView {
  // background-color: blue;
  flex: 0 0 100%;
  display: flex;

  .legend {
    position: absolute;
    top: 75px;
    right: 15px;
  }

  /////////////////////////////////////////////////////////////////
  .Map { // the map div populated by maplibre
    flex: 0 0 100%;

    // background: red;
  }

  /////////////////////////////////////////////////////////////////
  .bottom-left {
    position: relative;
  }

  // .cruise-display {
  //   position: absolute;
  //   bottom: 0;
  //   left: 25px;
  //   padding: 5px;
  //   background-color: rgba(0, 0, 0, 0.75);
  //   color: white;
  //   font-family: "Courier New", Courier, monospace;
  //   font-weight: 700;
  // }

  .bottom-right {
    position: relative;
  }

  .coordinate-display {
    position: absolute;
    bottom: 0px;
    right: 25px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: 700;
  }

  /////////////////////////////////////////////////////////////////
  .maplibregl-ctrl-bottom-right { display: none; }
}