/// Map View ///

.MapView {
  // align-items: stretch;
  border: 1px solid blue;
  background-color: blue;
  flex: 1;
  // display: flex;
  // flex-direction: column;
  height: 300px;

  .legend {
    position: absolute;
    top: 75px;
    right: 15px;
  }

  /////////////////////////////////////////////////////////////////
  // .MapView { // for the main view on the home page
  //   flex: 1;
  //   // margin-bottom: auto;
  //   // height: 100%;
  // }

  /////////////////////////////////////////////////////////////////
  .bottom-left {
    position: relative;
  }

  .cruise-display {
    position: absolute;
    bottom: 0;
    left: 25px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: 700;
  }

  .bottom-right {
    position: relative;
  }

  .coordinate-display {
    position: absolute;
    bottom: 0px;
    right: 25px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: 700;
  }

  /////////////////////////////////////////////////////////////////
  .maplibregl-ctrl-bottom-right { display: none; }
}