/// Map View ///

.MapView {
  flex: 1;
  // border: 2px solid cyan;
  /////////////////////////////////////////////////////////////////
  // .Map { // the map div populated by maplibre
  //   // border: 2px solid orange;
  //   // flex: 0 0 100%; // grow, shrink, basis
  //   // flex: 1 1 100%;
  //   // display: flex;

  //   .maplibregl-canvas-container {
  //     // border: 2px solid yellowgreen;
  //     flex-basis: 100%;
  //     display: flex;

  //     .maplibregl-canvas {
  //       border: 2px solid yellow;
  //       flex: 1 1 100%;
  //       display: flex;
  //       // flex-grow: 1;
  //     }
      
  //   }
  // }

  .legend {
    position: absolute;
    top: 75px;
    right: 15px;
  }

  /////////////////////////////////////////////////////////////////
  .bottom-left {
    position: relative;
  }

  // .cruise-display {
  //   position: absolute;
  //   bottom: 0;
  //   left: 25px;
  //   padding: 5px;
  //   background-color: rgba(0, 0, 0, 0.75);
  //   color: white;
  //   font-family: "Courier New", Courier, monospace;
  //   font-weight: 700;
  // }

  .bottom-right {
    border: 1px solid greenyellow;
    position: relative;
  }

  .coordinate-display {
    position: absolute;
    bottom: 0px;
    right: 25px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: 700;
  }

  /////////////////////////////////////////////////////////////////
  .maplibregl-ctrl-bottom-right > .maplibregl-ctrl-attrib { display: none; }
}