/// Dataset View ///

.HomeView {
  .container-fluid {
    // border: 1px solid red;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  // border: 1px solid orchid;
  // background-color: aliceblue;
  background-color: SeaShell;
  background-color: AliceBlue;
  flex: 1 1 100%;
  display: flex;

  // just playing with the opacity and intersection observer
  .itemHidden {
    opacity: 0;
    transition: opacity 2s;
  }
  .itemShown {
    opacity: 1;
    transition: opacity 2s;
  }
  
  // controls the mobile gutter
  // .mainHomeContent {
  //   // padding: 5px;
  // }
  p, ul {
    line-height: 30px;
    // font-weight: 50;
    font-size: 1.05em;
    letter-spacing: 0.75px;
    color: #686868;
    margin: 50px 0px 50px 0px;
    font-family: sans-serif;
  }
  a {
    color: rgb(55, 170, 194);
    font-weight: 500;
    text-decoration: none;
  }
  h1, h2, h3, h4 {
    margin: 50px 0px 50px 0px;
    font-family: sans-serif;
    font-weight: 600;
    color: #555;
  }
  hr {
    margin: 50px 0px 50px 0px;
  }
  
  .LinkToMap:hover {
    font-size: 1.05em !important;
    transition: all 0.5s ease-in-out;
    // color: DarkOrchid ;
    color: rgb(62, 182, 206);
  }

  
}



