/// Water Column View ///
@use "./InformationPanelView.scss";

.WaterColumnView {
  // border: 1px solid brown;
  // background-color: brown;

  flex: 1 1 100%;
  display: flex;

  .Map {
    .maplibregl-control-container {
      display: none;
    }
  }

  .leaflet-container {
    cursor: crosshair;
  }

  .legend {
    position: absolute;
    top: 75px;
    left: 15px;
  }

  /////////////////////////////////////////////////////////////////
  // This is the leaflet water column HTML5 canvas tiles rendering
  .WaterColumnVisualization {
    flex: 1 1 100%;
    display: flex;

    // background-color: pink;

    // These outline the grid for the axes and data visualization part of the water column
    $margin-value: 40px; // for both time & depth axes
    .topLeft {
    } // Water Column Visualization
    .topRight {
      // Depth Axis
      max-width: $margin-value;
    }
    .bottomLeft {
      // Time Axis
      max-height: $margin-value;
    }
    .bottomRight {
      // Empty
      max-width: $margin-value;
      min-height: $margin-value;
    }

    .Map {
      width: 100%;
      height: 100%;
    }

    .timeAxis {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #timeAxisLabel {
      border: 1px solid hotpink;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .depthAxis {
      // border: 1px solid blueviolet;
      // writing-mode: vertical-rl;
      // text-orientation: mixed;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #depthAxisLabel {
      border: 1px solid hotpink;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .leaflet-control-attribution {
      display: none;
    }
  }
}
