/// Water Column View ///
@use "./InformationPanelView.scss";

.WaterColumnView {
  // border: 2px solid brown;
  flex: 1;
  display: flex;

  .WaterColumnInformationPanel {
    // border: 2px solid blue;
    
    // position: relative;
    .CruiseInformationButton {
      // display: flex;
      // border: 2px solid orange;
      position: absolute;
      top: 75px;
      left: 15px;
    }
  }

  .Map {
    .maplibregl-control-container {
      display: none;
    }
  }

  .leaflet-container {
    cursor: crosshair;
  }

  .legend {
    position: absolute;
    top: 75px;
    left: 15px;
  }

  /////////////////////////////////////////////////////////////////
  // This is the leaflet water column HTML5 canvas tiles rendering
  .WaterColumnVisualization {
    flex: 1 1 100%;
    display: flex;

    // background-color: pink;

    // These outline the grid for the axes and data visualization part of the water column
    $depth-margin-value: 50px; // for depth axis
    $time-margin-value: 30px; // for time axis
    .topLeft {
      display: flex;
    } // Water Column Visualization
    .topRight {
      // Depth Axis
      max-width: $depth-margin-value;
    }
    .bottomLeft {
      // Time Axis
      max-height: $time-margin-value;
    }
    .bottomRight {
      // Empty
      max-width: $depth-margin-value;
      min-height: $time-margin-value;
    }

    .Map {
      width: 100%;
      height: 100%;
    }

    .timeAxis {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #timeAxisLabel {
      // border: 1px solid hotpink;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .depthAxis {
      // border: 1px solid greenyellow;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #depthAxisLabel {
      // border: 1px solid hotpink;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .leaflet-control-attribution {
      display: none;
    }
  }
}
