/// Layout View ///

.LayoutView {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .NavBarView { // navbar at the head of the page
    background-color: darkolivegreen;
  }

  // the main portion of the page holding content
  .MainView {
    background-color: Silver;
    flex: 1;
    // border: 5px solid cyan;
    display: flex;
  }
}



