/// Layout View ///

.LayoutView {
  flex: 0 0 100%;

  // background: red;

  display: flex;
  flex-direction: column;

  // navbar at the head of the page
  .NavBarView {
    // border: 1px solid yellow;
    // background: yellow;
    flex: 1;
  }

  // the main portion of the page holding content
  .MainView {
    // border: 1px solid green;
    // background: chartreuse;
    flex: 1 1 100%;
    display: flex;
  }
}



